@using RubberduckWeb.Models
@using RubberduckWeb.VBA

@model InspectionInfo

@{
    ViewBag.Title = "Rubberduck - " + Model.InspectionName;
}

<h4>Inspection Details</h4>

<div>
    <h3>@Model.InspectionName</h3>
    <hr />
    @if (Model.IsPreRelease)
    {
        <strong>Try it in the <a href="https://github.com/rubberduck-vba/Rubberduck/releases">latest pre-release build</a>!</strong>
    }
    <div>
        @{
            <dl class="dl-horizontal">
                <dt>Summary</dt>
                <dd>@Model.Summary</dd>
                <dt>Reasoning</dt>
                <dd>@Model.Reasoning</dd>
                @if (!string.IsNullOrEmpty(Model.HostApp))
                {
                <dt>This inspection will only run if the VBE host application is the specified executable:</dt>
                <dd>@Model.HostApp</dd>
                }
                @if (Model.References.Any())
                {
                <dt>This inspection will only run if the following libraries referenced:</dt>
                <dd>
                @foreach (var reference in Model.References)
                {
                    @reference
                }
                </dd>
                }
                @if (Model.Examples.Any(e => e.HasResult))
                {
                <dt>The following code example(s) would trigger this inspection:</dt>
                <dd>
                @foreach (var example in Model.Examples.Where(e => e.HasResult))
                {
                    foreach (var module in example.Modules)
                    {
                        if (!string.IsNullOrEmpty(module.Name))
                        {
                            <div>@module.Name</div>
                        }
                        <p>
                        <div class="vbe-mock-debugger">
                            <div class="code-area">
                                <div class="code">
                                    <div class="block">@Html.Raw(module.FormattedContent)</div>
                                </div>
                            </div>
                        </div>
                        </p>
                    }
                }
                </dd>
                }
                @if (Model.Examples.Any(e => !e.HasResult))
                {
                <dt>The following code example(s) would <strong>not</strong> trigger this inspection:</dt>
                <dd>
                @foreach (var example in Model.Examples.Where(e => !e.HasResult))
                {
                    foreach (var module in example.Modules)
                    {
                        if (!string.IsNullOrEmpty(module.Name))
                        {
                            <div>@module.Name</div>
                        }
                        <p>
                            <div class="vbe-mock-debugger">
                                <div class="code-area">
                                    <div class="code">
                                        <div class="block">@Html.Raw(module.FormattedContent)</div>
                                    </div>
                                </div>
                            </div>
                        </p>
                    }
                }
                </dd>
                }
            </dl>
        }
    </div>
</div>
<p><br/>
    @Html.ActionLink("Back to List", "List")
</p>
