@using RubberduckWeb.Controllers

@model Rubberduck.Parsing.Inspections.Abstract.IInspection

@{
    ViewBag.Title = "Details";
}

<h2>Inspection Details</h2>

<div>
    <h4>@InspectionsController.FormatInspectionName(Model)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Description</dt>
        <dd>@Model.Meta</dd>
        <dt>Message</dt>
        <dd>@Model.Description</dd>
        <dt>Type</dt>
        <dd>@InspectionsController.InsertOnCharacter(Model.InspectionType.ToString(), InspectionsController.CharacterType.UpperLetter, " ")</dd>
        <dt>Default Severity</dt>
        <dd>@Model.Severity</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "List")
</p>
