<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rubberduck - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <script src="~/Scripts/Rubberduck.js" asp-append-version="true"></script> <!-- Styles.Render("~/Scripts/Rubberduck.js") -->
    @Scripts.Render("~/bundles/modernizr")
</head>
<body onmousedown="$hideImage()">
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a href='@Url.Action("Index", "Home")' class="navbar-brand">
                    <img src='@Url.Content("~/Content/Images/Banner-transparent.png")' alt="Rubberduck" width="280"/>
                </a>
            </div>
        </div>
        <nav class="container">
            <ul class="nav navbar-nav">
                <li><div>@Html.ActionLink("Home", "Index", "Home")</div></li>
                <li><div>@Html.ActionLink("Inspections", "List", "Inspections")</div></li>
                <li><div>@Html.ActionLink("Indentation", "Indentation", "Home")</div></li>
                <li><div>@Html.ActionLink("Refactorings", "Refactorings", "Home")</div></li>
                <li><div>@Html.ActionLink("Navigation", "Navigation", "Home")</div></li>
                <li><div>@Html.ActionLink("Unit Testing", "UnitTesting", "Home")</div></li>
                <li><div>@Html.ActionLink("News", "News", "Home")</div></li>
                <li><div>@Html.ActionLink("About", "About", "Home")</div></li>
                <li><div>@Html.ActionLink("Contact", "Contact", "Home")</div></li>
            </ul>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr/>
        <footer>
            <p>Copyright &copy; @DateTime.Now.Year Rubberduck VBA - All rights reserved.</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
