@model RubberduckWeb.Models.HomePageModel

@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h2>Bring the VBE into this century!</h2>
    <p class="lead">
        Or help us do it! Rubberduck is a very active open-source COM add-in project that integrates with the Visual Basic Editor to enable the features every programmer wants to have in their IDE.
        From unit testing to code inspections and refactorings, programming in VBA will never be the same.
    </p>
</div>
<div class="row">
    @foreach (var highlight in Model.Highlights)
    {
        <div class="col-md-4">
            <h2>@highlight.Title</h2>
            <p>@highlight.Description</p>
            <p class="text-center">
                <a href="@highlight.ActionLink">
                    <div class="feature-highlight">
                        <img class="border-image" src="@highlight.ImageUrl" alt="@highlight.ImageAltText"/>
                    </div>
                </a>
            </p>
            <p>@highlight.ImageCaption</p>
            <p><a class="btn btn-info" href="@highlight.ActionLink">Learn more »</a></p>
        </div>
    }
</div>
<hr/>
<div class="row">
    <div>
        <img src="~/Content/Images/ducky-color.png" alt="Rubberduck"/>
    </div>
    <div>
        <p>Are you running the latest version?</p>
        <p><a class="btn btn-success btn-lg" href="https://github.com/rubberduck-vba/Rubberduck/releases">Download</a></p>
        <p><small>@Model.TotalReleaseDownloads.ToString("N0") total downloads</small></p>
        <p>View the source code on GitHub. Star us if you like!</p>
        <p><a class="btn btn-outline-dark btn-lg" href="https://github.com/rubberduck-vba/Rubberduck/">Repository</a>
        </p>
    </div>
</div>
<hr/>
<div class="row">
    <div>
        <a class="col-sm-2" href="https://www.jetbrains.com/resharper/"><img alt="JetBrains ReSharper" src="../../Content/Images/icon_ReSharper.png" /></a>
        <p class="col-lg-8">
            Since the project's early days, JetBrains' Open-Source team has been supporting Rubberduck with free OSS licenses for all core contributors - and we deeply thank them for that. ReSharper has been not only a tool we couldn't do without; it's been an inspiration, the ultimate level of polished perfection to strive for in our own IDE add-in project. So just like you're missing out if you write VBA and you're not using Rubberduck, you're missing out if you write C# and aren't using ReSharper.
        </p>
        <p class="col-lg-8">
            <small>Note: Rubberduck is not a JetBrains product. JetBrains does not contribute and is not affiliated to the Rubberduck project in any way.</small>
        </p>
    </div>
</div>